@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overflow-hidden dark:bg-gray-700
    }

    img {
        @apply fourk:p-5
    }

    .adivinhe-a-coisa {
        @apply flex h-screen
    }

    /* --------------- Assistant profile --------------- */

    .assistant-profile {
        @apply w-[100%] sm:w-[70%] md:w-[20%] fixed right-0 h-full
        bg-slate-50 dark:bg-gray-700 dark:md:bg-gray-800/20
    }

    .assistant-profile-header {
        @apply h-[10vh] bg-slate-200 dark:bg-slate-800 flex items-center justify-between
    }

    .assistant-profile-close-button {
        @apply p-1 m-1 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700/30
        w-[10vw] phone:w-[3vw] xl:w-[2vw] fourk:w-[3vw] transition duration-75 self-start
    }

    .contact-details-text {
        @apply dark:text-white fullhd:text-3xl fourk:text-6xl text-center px-5
    }

    .assistant-profile-content {
        @apply flex flex-col items-center p-2 dark:text-white
    }

    .assistant-profile-pic {
        @apply w-full max-w-[30vw] mb-3
    }

    .assistant-profile-name {
        @apply text-xl fullhd:text-4xl fourk:text-7xl 
         font-bold mb-2
    }
    .assistant-profile-description {
        @apply text-center fullhd:text-3xl fourk:text-6xl 
    }

    /* --------------- Chats Nav Bar --------------- */

    .chats-nav-bar {
        @apply w-[100%] sm:w-[30%] h-screen bg-slate-50 dark:bg-gray-800/30
    }

    .chats-nav-bar-header {
        @apply h-[10vh] bg-slate-200 dark:bg-slate-800 flex justify-between items-center 
        dark:text-white overflow-hidden fullhd:text-4xl fourk:text-7xl
    }

    .home-page-arrow-container {
        @apply flex items-center w-fit px-2 py-8
        duration-100 hover:bg-slate-100 dark:hover:bg-slate-700 h-full
    }

    .home-page-arrow {
        @apply h-[7vh]
    }

    .conversation-card {
        @apply w-full flex py-1 dark:text-white border-b border-gray-800/30 
        hover:bg-slate-300 dark:hover:bg-gray-600/60 transition duration-75 cursor-pointer
        shadow-sm fullhd:text-4xl fourk:text-7xl
        h-[10vh]
    }

    .conversation-card-profile-pic {
        @apply ml-2 mr-1 w-[15vw] phone:w-[6vw] rounded-full
    }

    .conversation-card-name-and-last-message {
        @apply flex flex-col justify-evenly fourk:pl-5 w-full
    }

    .conversation-card-last-message {
        @apply text-xs lg:text-sm fullhd:text-2xl fourk:text-5xl truncate
        w-[95%] whitespace-nowrap
    }

    /* --------------- Chat --------------- */

    .chat {
        @apply flex flex-col justify-center align-middle items-center
        bg-slate-700 h-full
    }
    
    .chat-header {
        @apply flex items-center w-full bg-slate-200 dark:bg-slate-800
        h-[10vh] min-h-[10vh] border-x border-slate-400/40 dark:border-slate-900/40
    }

    .button-to-chats-nav-bar {
        @apply h-full w-fit duration-100 hover:bg-slate-300 dark:hover:bg-slate-700 sm:w-0
    }

    .button-icon-to-chats-nav-bar {
        @apply h-[7vh] sm:w-0
    }

    .profile-card {
        @apply flex items-center transition hover:bg-slate-300 dark:hover:bg-slate-700 py-10
        w-full cursor-pointer
    }

    .profile-card-pic {
        @apply  ml-3 mr-2 w-[15vw] phone:w-[10vw] md:w-[4vw] fullhd:w-[5vw]  rounded-full 
    }

    .card-name-and-typing-status {
        @apply flex flex-col justify-evenly
    }

    .card-name {
        @apply flex items-center text-xl dark:text-white
        font-semibold fullhd:text-4xl fourk:text-7xl
    }

    .typing-status {
        @apply dark:text-white
    }

    .menu-container {
        @apply flex items-center justify-center w-[10vw] phone:w-[7vw] md:w-[4vw] mx-2 relative
    }

    .menu-icon {
        @apply  w-[10vw] phone:w-[7vw] md:w-[4vw] transition hover:scale-110 cursor-pointer
    }

    .menu-list {
        @apply absolute shadow-lg bg-stone-100 dark:bg-gray-600 
        top-[9vh] right-[10vw] phone:right-[3vw] fullhd:right-[4vw]
        origin-top grid grid-cols-1 divide-y fourk:divide-y-4 divide-slate-200 dark:divide-gray-700
        min-w-[60vw] lg:min-w-[15vw] fullhd:min-w-[20vw]
    }

    .menu-option {
        @apply hover:bg-slate-300 dark:hover:bg-gray-500 duration-100 cursor-pointer
        p-3 lg:px-[1vw] lg:p-0 fullhd:text-3xl fullhd:py-2 fourk:text-6xl fourk:py-5 whitespace-nowrap
    }

    .conversation {
        @apply flex flex-col w-full
        justify-start items-center h-screen 
        bg-[url('/public/images/background-light-mode.svg')] dark:bg-[url('/public/images/background-dark-mode.svg')]
    }

    .conversation-box {
        @apply w-full h-[83vh]
        flex flex-col overflow-y-auto scroll-smooth 
    }

    .text-bubble {
        @apply flex m-3 w-fit max-w-[60vh] rounded-lg p-1 shadow-lg
        text-xl fullhd:text-4xl fullhd:p-2 fourk:text-7xl fourk:p-4
    }

    .user-bubble {
        @apply self-end justify-end bg-blue-300 bg-opacity-50 
        pl-2 fourk:pl-4
    }

    .assistant-bubble {
        @apply self-start bg-green-300 bg-opacity-50
        pr-2 fourk:pr-4
    }

    .conversation-form {
        @apply w-full h-[5vh] px-1 phone:px-4 my-1 relative bottom-1
    }

    .scroll-bottom-button {
        @apply absolute left-0 right-0 ml-auto mr-auto bottom-[5vh] w-fit
    }

    .scroll-bottom-icon {
        @apply w-[13vw] phone:w-[5vw] animate-bounce opacity-10 dark:opacity-20
    }

    .conversation-input {
        @apply w-5/6 rounded-s-lg outline-none pl-1 py-1 text-wrap
        text-xl fullhd:text-4xl fourk:text-7xl fourk:h-[5vh]
    }

    .conversation-send-button {
        @apply w-1/6 rounded-e-lg bg-white
        hover:phone:bg-gray-300 py-1 pr-3 hover:pr-5 transition-all
        text-xl fullhd:text-4xl fourk:text-7xl fourk:h-[5vh]
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    @apply bg-stone-200 dark:bg-gray-700
}

::-webkit-scrollbar-thumb {
    @apply bg-stone-400 dark:bg-gray-800 rounded-xl
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}   