@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.handrawn {
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    font-style: normal;
}