@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik+Doodle+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-doodle-shadow {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

tbody {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.letter {
  border: 1px black solid;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 2.5em;
  vertical-align: middle;
}

.selected {
  border: 2px rgb(102, 81, 3) solid;
}

.disabled {
  border: 1px grey solid;
}

#square1 { animation-delay: 0s; }
#square2 { animation-delay: 0.5s; }
#square3 { animation-delay: 1s; }
#square4 { animation-delay: 1.5s; }
#square5 { animation-delay: 2s; }
#square6 { animation-delay: 2.5s; }

.right {
  animation: reveal-right 1s 0s 1 forwards;
}

.wrong {
  animation: reveal-wrong 1s 0s 1 forwards;
}

.moved {
  animation: reveal-moved 1s 0s 1 forwards;
}

.reveal-letter {
  animation: reveal-letter 1s 0s 1 forwards;
}


@keyframes reveal-right {
    0% {
        background-color: transparent;
        font-size: 0px;
    }
    50% {
        height: 0px;
        border: 0px black solid;
    }
    70% {
        font-size: 0px;
    }
    100% {
        background-color: green;
        border: 1px black solid;
        height: 50px;
        font-size: 2.5em;
    }
}

@keyframes reveal-wrong {
  0% {
      background-color: transparent;
      font-size: 0px;
  }
  50% {
      height: 0px;
      border: 0px black solid;
  }
  70% {
      font-size: 0px;
  }
  100% {
      background-color: red;
      border: 1px black solid;
      height: 50px;
      font-size: 2.5em;
  }
}

@keyframes reveal-moved {
  0% {
      background-color: transparent;
      font-size: 0px;
  }
  50% {
      height: 0px;
      border: 0px black solid;
  }
  70% {
      font-size: 0px;
  }
  100% {
      background-color: yellow;
      border: 1px black solid;
      height: 50px;
      font-size: 2.5em;
  }
}